body {
	display: grid;
	grid-template-columns: 10% auto 10%;
	grid-template-rows: 10% 50% auto 10%;
	height: 100vh;
}
#searchBar {
	border: 1px solid red;
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}
#bookmarkBar {
	border: 1px solid blue;
	grid-column: 2 / 3;
	grid-row: 3 / 4;
}