:root {
	--sb-height: 20%; /*for searchBar*/
	--bf-height: 20%; /*for bookmarkFolders*/
	--bb-height: auto; /*for bookmarkBar*/

	/*--bm-folder-div-dimension: calc(var(--bf-height) - 4px);*/
	--bm-folder-div-dimension: 620px;
	--foo: var(--bm-folder-div-dimension);
}

body {
	display: grid;
	grid-template-columns: 10% auto 10%;
	grid-template-rows: 10% 20% 20% auto 10%;
	height: 100vh;
}
.dividerBox {
	padding: 3px;
}
.is-overflowing {
	justify-content: left !important;
}
#searchBar {
	border: 1px solid red;
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}
#selectedFolder {
	background-color: gray;
}

/*@media screen and (max-height: 620px){
	#bookmarkFolders > div {
		width: 120px;
		aspect-ratio: auto;
	}
}
@media screen and (min-height: 620px){
	#bookmarkFolders > div {
		aspect-ratio: 1/1;
		height: 120px;
	}
}*/

#bookmarkFolders {
	grid-column: 2 / 3;
	grid-row: 3 / 4;
	/*div {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		border: 1px dashed black;
	}*/
	border: 1px solid blue;
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	overflow: scroll;
	div {
		margin: 3px;
		height: 150px;
		border: 1px solid red;
		padding: 5px;
		aspect-ratio: 1/1;
		align-content: center;
		img {
			display: block;
			margin: auto;
		}
		p {
			margin: 0;
		}
	}
}
#bookmarkBar {
	border: 1px solid green;
	grid-column: 2 / 3;
	grid-row: 4 / 5;
	overflow: scroll;
	a {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
}
a {
	display: block;
}