body {
	display: grid;
	grid-template-columns: 10% auto 10%;
	grid-template-rows: 10% 20% 20% auto 10%;
	height: 100vh;
}
.dividerBox {
	padding: 3px;
}
#searchBar {
	border: 1px solid red;
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}
#bookmarkFolders {
	border: 1px solid blue;
	grid-column: 2 / 3;
	grid-row: 3 / 4;
	overflow: scroll;
}
#bookmarkBar {
	border: 1px solid green;
	grid-column: 2 / 3;
	grid-row: 4 / 5;
	overflow: scroll;
	a {
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
}
a {
	display: block;
}